@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
body, html {
  padding: 0;
  margin: 0;
  background-color: rgb(0, 35, 249);
  overflow: hidden;
  height: 100%;
  min-height: 100%;
}

body {
  overflow: hidden;
  font-family: Verlag Book, CenturyGothic, Arial, sans-serif;
}

button {
  z-index: 3 !important;
}

h1, h2, h3 {
  font-weight: normal !important;
}

.banner {
  box-shadow: 0 0 4px 2px black !important;
}
