<div class="page-section" id="services">
  <a-scene vr-mode-ui="enabled: false" (renderstart)="loaded()">
    <a-assets>
      <img id="service" crossorigin="anonymous" src="https://s3-us-west-1.amazonaws.com/apex360vr/HOMEPAGE+SCREENS/DESKTOP+and+Android/4096x2048/background_image.jpg">
    </a-assets>


    
    <a-sky crossorigin="anonymous" src="#service" rotation="0 -130 0"></a-sky>
  </a-scene>
  <div class="overlay">
    <div id="img-container" [ngSwitch]="serviced">
        <div class="back" *ngSwitchCase="1">
              <div *ngFor="let offer of services[0].offerings" [@flyInOut]="hi">
                <div>
                  <div class="serve" [style.background]="'url(' + offer.img + ')'">
                    <div class="info">
                      <div class="title">
                        <h2>{{offer.name}}</h2>
                      </div>
                      <div class="text">
                        <p>{{offer.text}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="back" *ngSwitchCase="2">
          <div *ngFor="let offer of services[1].offerings" [@flyInOut]="hi">
            <div>
              <div class="serve" [style.background]="'url(' + offer.img + ')'">
                <div class="info">
                  <div class="title">
                    <h2>{{offer.name}}</h2>
                  </div>
                  <div class="text">
                    <p>{{offer.text}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="back" *ngSwitchCase="3">
          <div *ngFor="let offer of services[2].offerings" [@flyInOut]="hi">
            <div>
              <div class="serve" [style.background]="'url(' + offer.img + ')'">
                <div class="info">
                  <div class="title">
                    <h2>{{offer.name}}</h2>
                  </div>
                  <div class="text">
                    <p>{{offer.text}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="back" *ngSwitchCase="4">
          <div id="lonewolf" *ngFor="let offer of services[3].offerings" [@flyInOut]="hi">
            <div>
              <div class="serve" [style.background]="'url(' + offer.img + ')'">
                <div class="info">
                  <div class="title">
                    <h2>{{offer.name}}</h2>
                  </div>
                  <div class="text">
                    <p>{{offer.text}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div *ngSwitchDefault></div>
    </div>
    <div class="banner">
      <div *ngFor="let service of services">
        <div>
          <h1 (mouseenter)="setSwitch(service.switch)" [ngClass]="{blued: serviced === service.switch}">{{service.section}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
