.page-section {
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: black;
}

#services {
  .overlay {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
   

    #img-container {
      height: calc(100% - 400px);
      width: 100%;
      margin-top: 150px;
      margin-bottom: 250px;
      overflow: hidden;
      position: relative;
      

            #red {
              background-color: red;
            }

            #green {
              background-color: green;
            }

            #yellow {
              background-color: yellow;
            }

            .back {
              width: 100%;
              height: 100%;
              z-index: 50;
              pointer-events: none !important;
              
                div {
                  height: 100%;
                  width: 33.3%;
                  display: inline-block;
                  vertical-align: middle;
                  opacity: 1;
                  background: none;
                  align-items: center;
                  pointer-events: none;

                  div {
                    width: 90%;
                    margin: 0 5%;
                    display: inline-flex;
                    align-items: center;

                    div {
                      width: 100%;
                      height: 300px;
                      margin: 0;
                      margin-top: 10px;
                      display: inline-block;
                      background-size: cover !important;
                      background-repeat: no-repeat !important;
                      background-position: center center!important;

                      .info {
                        &:hover {
                          opacity: 1;
                          height: 100%;
                        }

                        height: 100%;
                        width: 100%;
                        opacity: 0;
                        margin: 0 !important;
                        background-color: rgba(0, 35, 249, 0.5);
                        transition: 300ms;
                        cursor: pointer;
                        pointer-events: all;

                        .title {
                          height: 10% !important;
                          width: 100%;
                          display: inline;
                          margin: 0;
                          align-content: center;

                          h2 {
                            text-align: center;
                            vertical-align: middle;
                          }
                        }

                        .text {
                          height: 90% !important;
                          width: 100%;
                          margin-top: -10%;
                          display: inline-flex;
                          align-content: center;

                          p {
                            margin: 25px;
                            text-align: center;
                            vertical-align: middle;
                          }
                        }
                      }
                    }
                  }
              }
            }
    }

    .banner {
      position: fixed;
      bottom: 0;
      height: 100px;
      width: 100%;
      text-align: center;
      color: white;
      background-color: rgba(0, 35, 249, 0.5);
      margin-bottom: 100px;
      
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75) !important;
      

      div {
        width: 25%;
        height: 100%;
        display: inline-flex;
        vertical-align: middle;

        div {
          height: 100%;
          width: auto;;
          margin: auto;

          h1 {
            cursor: pointer;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            pointer-events: all;
            margin: auto;
            color: white;
            padding: 0 0 0 25px;
            text-decoration: none;
            font-size: medium;
          }
        }
      }
    }
  }
}

.blued {
  color: #0077B5 !important;
  font-size: 150% !important;
  font-weight: bold !important;
  text-shadow: 1px 1px 2px black !important;
}

#lonewolf {
  margin: 0 33.3%;
}

.serve {
  box-shadow: 0 0 4px 2px black !important;
  transition: 300ms;

  &:hover {
    box-shadow: 0 0 10px 5px black !important;
  }
}
