<div class="page-section" id="home">
  <a-scene embedded (renderstart)="loaded()" (enter-vr)="toggleContent()" (exit-vr)="toggleContent()">
    <a-assets>
      <img id="home360" crossorigin="anonymous" src="https://s3-us-west-1.amazonaws.com/apexvr/HOME+POT.jpg">
    </a-assets>
    <a-sky crossorigin="anonymous" src="#home360" rotation="0 -130 0"></a-sky>
  </a-scene>
  <div class="overlay">
    <div id="home-title"></div>
  </div>
  <div class="overlay">
    <div id="finger"></div>
  </div>
  <div class="overlay"></div>
</div>
