<div class="page-section" id="contact">
  <a-scene vr-mode-ui="enabled: false" embedded (renderstart)="loaded()" (enter-vr)="toggleShowContent()" (exit-vr)="toggleShowContent()">
    <a-assets>
      <img id="contact360" crossorigin="anonymous" src="https://s3-us-west-1.amazonaws.com/apex360vr/HOMEPAGE+SCREENS/DESKTOP+and+Android/4096x2048/4.+Contact+Us+4096x2048.jpg">
    </a-assets>
    <a-sky crossorigin="anonymous" src="#contact360" rotation="0 -130 0"></a-sky>
  </a-scene>
  <div class="overlay" [@animateOverlay]="navstate">
    <div class="banner" id="contact-banner">
      <div id="info">
        <div>
          <h3 class="title">OUR CONTACT INFO</h3>
          <div class="contactinfo">
            <i class="fa fa-home"></i>
            <p>San Leandro, CA</p>
          </div>
          <div class="contactinfo">
            <i class="fa fa-phone"></i>
            <p [style.pointer-events]="'all'">(510) 331-6403</p>
          </div>
          <div class="contactinfo">
            <i class="fa fa-mail"></i>
            <p>contact@polar-production.com</p>
          </div>
          <div id="linked">
            <button md-raised-button>
              <i class="fa fa-linkedin fa-2x"></i>
              <p>share</p>
            </button>
            <button md-raised-button>
              <i class="fa fa-linkedin fa-2x"></i>
              <p>follow</p>
            </button>
          </div>
        </div>
        <div>
          <h3 class="title">GET CONNECTED</h3>
          <div id="sociallinks">
            <button md-fab style="float: left; margin-left: 10%;">
              <i class="fa fa-facebook fa-2x"></i>
            </button>
            <button md-fab>
              <i class="fa fa-twitter fa-2x"></i>
            </button>
            <button md-fab style="float: right; margin-right: 10%;">
              <i class="fa fa-instagram fa-2x"></i>
            </button>
          </div>
        </div>
      </div>
      <div id="form">
        <lead-form></lead-form>
      </div>
    </div>
  </div>
</div>
