<div class="page-section" id="about">
  <a-scene vr-mode-ui="enabled: false" embedded (renderstart)="loaded()">
    <a-assets>
      <img id="about360" crossorigin="anonymous" src="https://s3-us-west-1.amazonaws.com/apex360vr/HOMEPAGE+SCREENS/DESKTOP+and+Android/4096x2048/3.+about+us+4096x2048.jpg">
    </a-assets>
    <a-sky crossorigin="anonymous" src="#about360" rotation="0 -130 0"></a-sky>
  </a-scene>
  <div class="overlay">
    <div class="banner" [ngSwitch]="aboutinfo"  style="transition: all .5s ease-in-out;">
      <div id="togglebuttons">
        <div id="abouttext">
          <i class="fa fa-info fa-2x" (click)="toggleAbout(0)"></i>
        </div>
        <div id="title">
          <h2 *ngSwitchCase="0">INFO</h2>
          <h2 *ngSwitchCase="1">TEAM</h2>
        </div>
        <div id="aboutteam">
          <i class="fa fa-torsos-all fa-2x" (click)="toggleAbout(1)"></i>
        </div>
      </div>
      <p *ngSwitchCase="0">{{abouttext}}</p>
      <div *ngSwitchCase="1" id="team">
        <div>
          <h3>Theodore Allen</h3>
          <h3>Franz Erian</h3>
          <h3>Melissa Camacho</h3>
        </div>
        <div>
          <h3>Evan Weidenkeller</h3>
          <h3>Aaron Townsend</h3>
          <h3>Matthew Owens</h3>
        </div>
      </div>
    </div>
  </div>
</div>

