.page-section {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.overlay {
  position:fixed;
  pointer-events: none;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#about {
  .overlay {
    .banner {
      position: fixed;
      bottom: 0;
      height: auto;
      width: 100%;
      text-align: center;
      background-color: rgba(0, 35, 249, 0.5);
      margin-bottom: 100px;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75) !important;

      #togglebuttons {
        height: 55px;
        width: 50%;
        padding: 0 25%;

        #title {
          display: inline-block;
          text-align: center;
          height: 55px;
          width: 70%;

          h2 {
            color: white;
          }
        }

        i {
          line-height: 50px;
          color: white;
          cursor: pointer;
          pointer-events: all;
          margin-top: 10px;
          transition: 300ms;

          &:hover {
            color: #0077B5 !important;
            font-size: 300% !important;
            font-weight: bold !important;
            text-shadow: 1px 1px 2px black !important;
          }
        }

        #abouttext {
          float: left;
          width: 15%;
          height: 55px;
          text-align: center;
        }

        #aboutteam {
          float: right;
          width: 15%;
          height: 55px;
          text-align: center;
        }
      }

      #team {
        text-align: center;

        div {
          display: inline-block;
          padding: 0 25px 20px;
        }
      }

      p {
        vertical-align: middle;
        color: white;
        padding: 25px 20%;
        margin-top: 0;
        font-size: 18px;
      }

      h3 {
        color: white;
      }
    }
  }
}
