<div class="page-section" id="difference">
  <a-scene embedded (renderstart)="loaded()">
    <a-assets>
      <img id="difference360" crossorigin="anonymous" src="https://s3-us-west-1.amazonaws.com/apexvr/APEX+DIFFERENCE+POT.jpg">
    </a-assets>
    <a-sky crossorigin="anonymous" src="#difference360" rotation="0 -130 0"></a-sky>
  </a-scene>
  <div class="overlay">
    <div class="banner">
      <div id="title">
        <h2>WE ARE</h2>
      </div>

      
      <p>Passionate, forward thinking filmmakers, determined to move the 360 VR 
      format forward. Having been on the forefront of this emerging art form, we have been working 
      within the community to create a filmmaking language, and push the boundaries of what is possible and acceptable within this new medium.
      
      </p>

       <p>
       As such, 
      we have been and continue to use our skills and creativity to create the most 
      engaging video experiences for: narratives, advertisements, documentaries and corporate videos.
      </p>
     <div id="title">
        <h2>APEX DIFFERENCE</h2>
      </div>
      
    </div>
  </div>
</div>
