.page-section {
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: black;
}

.overlay {
  position:fixed;
  pointer-events: none;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#difference {
  .overlay {
    display: inline-flex;
    align-items: center;
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    .banner {
      width: 100%;
      text-align: center;
      color: white;



 #title1 {
        display: inline-block;
        text-align: center;
        height: 50px;
        width: 80%;
        
        border-bottom: 2px solid white;
        

      }







      #title {
        display: inline-block;
        text-align: center;
        height: 50px;
        width: 80%;
        padding: 10px;
        border-bottom: 2px solid white;
        

        h2 {
          margin: auto;
          color: white;
          line-height: 100%;
          padding-top: 10%;
          font-size:30px;
        }
      }

      p {
        text-align: left;
        color: white;
        padding: 25px;
        margin-top: 0px;
        padding-top: 10px;
        font-size:17px;
      }
    }
  }
}
