<div>
  <h3>DROP US A LINE</h3>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="name">YOUR NAME</label>
      <input type="text" id="name" required [(ngModel)]="model.leadname" name="leadname"/>
    </div>
    <div>
      <label for="email">YOUR EMAIL</label>
      <input type="text" id="email" required [(ngModel)]="model.leademail" name="leademail"/>
    </div>
    <div>
      <label for="subject">SUBJECT</label>
      <input type="text" id="subject" [(ngModel)]="model.emailsubject" name="emailsubject"/>
    </div>
    <div>
      <label for="body">MESSAGE</label>
      <textarea rows="5" type="text" id="body" [(ngModel)]="model.emailbody" name="emailbody"></textarea>
    </div>
    <button md-raised-button type="submit">Submit</button>
  </form>
</div>
